.grid.text-center.rounded-md.shadow-md.bg-gray-700.m-10
  = form_with model: @profile do |form|
    %h2.mb-3 Personal Info
    %div
      = form.text_field :name, placeholder: "What's your name?", class: "rounded-md shadow-md border-none m-5 bg-gray-500 placeholder:text-white"
    %div 
      = form.text_field :role, placeholder: "What's your role?", class: "rounded-md shadow-md border-none m-5 bg-gray-500 placeholder:text-white"
    %div  
      = form.text_area :intro, placeholder: "What do you do, and why?", class: "rounded-md shadow-md border-none m-5 bg-gray-500 placeholder:text-white"
    %div 
      = form.text_field :link, placeholder: "Paste Github link here", class: "rounded-md shadow-md border-none m-5 bg-gray-500 placeholder:text-white"
    %div 
      %p Check the programming languages you are familiar with:
      = form.check_box :ruby, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :Ruby
      = form.check_box :c, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :C
      = form.check_box :c_sharp, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :CSharp
      = form.check_box :css, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :Css
      = form.check_box :html, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :HTML
      = form.check_box :java, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :Java
      = form.check_box :javascript, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :Javascript
      = form.check_box :php, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :PHP
      = form.check_box :python, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :Python
      = form.check_box :r, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :R
      = form.check_box :rails, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :Rails
      = form.check_box :typescript, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label :Typescript
    %div.m-5
      %p Check the skills you would say you have: 
      = form.check_box :team_management, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label "Team managament"
      = form.check_box :research, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label "Research"
      = form.check_box :project_management, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label "Project_management"
      = form.check_box :financial_management, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label "Financial_management"
      = form.check_box :process_improvement, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label "Process improvement"
      = form.check_box :it_governance, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label "IT governance"
      = form.check_box :software_development, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label "Software development"
      = form.check_box :agile_and_scrum, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.label "Agile & Scrum"
    %div.m-3
      = form.file_field :avatar, class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
    %dev.m-3
      = form.email_field :email, placeholder: "Enter your email", class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
      = form.telephone_field :number, placeholder: "Enter your phone number", class: "rounded-md shadow-md border-none m-2 bg-gray-500 placeholder:text-white"
    %p  
      = button_tag(type: "submit") do
        .bg-green-500.text-white.rounded-md.shadow-md.m-5.px-8.hover:bg-green-700.hover:font-bold
          Save
    = link_to "Cancel", :back, class: "bg-blue-500 rounded-md shadow-md m-5 text-white px-8 hover:bg-blue-700 hover:font-bold"