.m-10.text-5xl.bangers.font-medium.font-serif.hover:font-bold.cursor-default
  = user.profile.display_name
  %hr.m-2
  %p.text-xl.arial
    = user.profile.display_role
.mb-3.w-96.place-self-center.rounded-md.shadow-md.bg-gray-700.m-5.hover:shadow-2xl.overflow-auto.h-96
  %p.text-2xl.mb-5 About me
  = user.profile.display_intro
.mt-20.hover:font-bold
  = user.profile.display_link.gsub(URI.regexp, '<a href="\0">\0</a>').html_safe
.mt-20.grid.grid-cols-6.mb-3.bg-gray-800.w-auto.rounded-md.place-self-center
  - if user.profile.ruby == true 
    = link_to "https://www.ruby-lang.org/en/" do  
      = image_tag "ruby.png"
  - if user.profile.c == true 
    = link_to "https://www.cprogramming.com" do
      = image_tag "c.png"
  - if user.profile.c_sharp == true 
    = link_to "https://learn.microsoft.com/en-us/dotnet/csharp/" do
      = image_tag "csharp.png"
  - if user.profile.html == true 
    = link_to "https://www.w3schools.com/html/" do
      = image_tag "html5.png"
  - if user.profile.css == true 
    = link_to "https://www.w3schools.com/css/" do
      = image_tag "css3.png"
  - if user.profile.java == true 
    = link_to "https://www.java.com/en/" do
      = image_tag "java.png"
  - if user.profile.javascript == true
    = link_to "https://www.javascript.com" do 
      = image_tag "javascript.png"
  - if user.profile.php == true 
    = link_to "https://www.php.net" do
      = image_tag "php.png"
  - if user.profile.python == true 
    = link_to "https://www.python.org" do
      = image_tag "python.png"
  - if user.profile.r == true 
    = link_to "https://www.r-project.org" do
      = image_tag "r.png"
  - if user.profile.rails == true 
    = link_to "https://rubyonrails.org" do
      = image_tag "rails.png"
  - if user.profile.typescript == true
    = link_to "https://www.typescriptlang.org" do 
      = image_tag "typescript.png"
.mt-20.mb-3
  = user.profile.display_avatar
.mt-20.mb-3
  %b Last updated:
  = @user.profile.updated_time_formatted 