.grid
  .border-2.rounded-md.w-96.mt-40.shadow-md.bg-white
    = form_for(resource, as: resource_name, url: user_registration_path) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        %br/
        = f.text_field :username, placeholder: "Username"
      .field
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"
      .field
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "Password #{@minimum_password_length} characters minimum"
      .field
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation"
      .actions.bg-blue-600.text-white.rounded-md.text-xl.px-2.w-90.m-5
        = f.submit "Sign up"
    = link_to new_session_path(resource_name) do
      .hover:underline.m-5
        Already have a user?