!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Personal-portfolio
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload"
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  %body{class: session[:dark_mode] ? "dark-mode" : "light-mode"}

    %nav.flex.p-5.shadow-lg{class: session[:dark_mode] ? "dark-mode" : "light-mode"}
      %div
        = link_to root_path do
          %p.hover:bg-white.hover:text-black.font-bold.rounded-md.px-2.text-white
            Home
      .hover:bg-white.hover:text-black.hover:cursor-pointer.font-bold.rounded-md.px-2.text-white 
        - if session[:dark_mode]
          %a{href: toggle_dark_mode_path} Light Mode
        - else 
          %a{href: toggle_dark_mode_path} Dark Mode
      - if current_user
        .hover:bg-white.hover:text-black.hover:cursor-pointer.font-bold.rounded-md.px-2.text-white
          = link_to "My portfolio", user_path(current_user.username)
        .absolute.right-5.flex
          .hover:bg-white.hover:text-black.font-bold.rounded-md.px-2.text-white
            = button_to "Sign Out", destroy_user_session_path, method: :delete, class: "hover:cursor-pointer"
    = yield